@charset "utf-8";
@import "font/FlorencesansRegular.css";
@import "font/LeagueGothicRegular.css";
/* font */
html, body {
    font-family: Verdana, Helvetica, Arial, sans-serif;
    font-size: 12px;
}
/* font dos titulos */
h1, h2, h3, h4, h5, h6 {
    font-family: "LeagueGothicRegular", Georgia, "Times New Roman", Times;
    letter-spacing: 0.04em;
    color: #A3B254;
    text-decoration: none;
    text-transform: uppercase;
}
/* titulo da página */
h1 {
    font-weight: bold;
    font-size: 32px;
    margin: 20px 0;
    display: block
}
/* subtitulo */
h2 {
    font-size: 24px;
    margin: 20px 0;
    display: block
}
/* outro subtitulo */
h3 {
    font-size: 18px;
    margin: 15px 0;
    display: block
}
/* tags */
body {
    text-align: center;
    background: url('../img/plano-de-fundo.jpg') top center repeat-y fixed;
}
input {
    padding: 4px;
}
a {
    color: #2C4B0F;
}
/* centralizar menu */
#centralized {
    width: 960px; /* padrão */
    margin: 0 auto;
    text-align: left;
}
/* disposicao da logo */
#header_logo {
    display: inline-block;
}
/* disposicao menu */
#header_menu {
    display: inline-block;
}
/* alinhamento do menu */
#header_menu {
    margin-top: 100px;
    float: right
}
/* alinhamento itens do menu */
#header_menu ul li {
    display: inline;
    border-right: 1px solid #444;
}
#header_menu ul li:last-child {
    border-right: none;
}
/* item do menu */
#header_menu ul li a {
    font-family: "LeagueGothicRegular", Georgia, "Times New Roman", Times;
    font-size: 24px;
    letter-spacing: 0.04em;
    color: #A3B254;
    text-decoration: none;
    padding: 0 10px;
}
#header_menu ul li a:hover, #header_menu ul li a:focus, #header_menu ul li a.selecionado, .corDestaque {
    color: #5E543E;
}
/* submenu */
#header_submenu {
    border-bottom: 1px solid #444;
    border-top: 1px solid #444;
}
/* itens do sub-menu */
#header_submenu ul li {
    display: inline;
    height: 25px;
    line-height: 25px;
}
/* item do sub-menu */
#header_submenu ul li a {
    color: #5E543E;
    text-decoration: none;
    padding: 0 15px;
}
/* paragrafo */
#container_text p {
    margin-bottom: 16px;
}
/* resultados */
#container_text_resultados {
    margin: 20px 0;
}
/* tabela de resultados */
#container_text_resultados .table {
    border: 1px solid #444;
    margin-bottom: 20px;
    padding: 15px
}
#container_text_resultados table {
    width: 100%
}
#container_text_resultados tr:hover, #container_text_resultados tr:focus {
    background-color: #F9F9F9;
}
/* subtitulo resutlados */
#container_text_resultados h3 a {
    margin: 2px;
    margin-left: 10px;
}
/* tabela de resultados th */
#container_text_resultados table td {
    margin-left: 10px;
    text-align: left;
}
/* tabela de resultados td */
#container_text_resultados table td {
    text-align: center
}
/* tabela classes */
#container_text_resultados .nomeTime{
    width: 150px;
}
/* tamanho do texto placar */
#container_text_resultados .placarJogo{
    font-size:36px
}

/* resultados */
#container_right_ultimos_jogos {
    margin: 20px 0;
}
/* tabela de resultados */
#container_right_ultimos_jogos .table {
    border: 1px solid #444;
    margin-bottom: 20px;
    padding: 15px
}
#container_right_ultimos_jogos table {
    width: 100%
}
#container_right_ultimos_jogos tr:hover, #container_text_resultados tr:focus {
    background-color: #F9F9F9;
}
/* subtitulo resutlados */
#container_right_ultimos_jogos h3 a {
    margin: 2px;
    margin-left: 10px;
}
/* tabela de resultados th */
#container_right_ultimos_jogos table td {
    margin-left: 10px;
    text-align: left;
}
/* tabela de resultados td */
#container_right_ultimos_jogos table td {
    text-align: center
}
/* tabela classes */
#container_right_ultimos_jogos .nomeTime{
    width: 150px;
}
/* tamanho do texto placar */
#container_right_ultimos_jogos .placarJogo{
    font-size:16px
}

/* disposicao conteudo */
#container {
    display: table
}
/* coluna esquerda */
#container_text {
    width: 630px;
    margin-right: 30px;
    float: left
}
/* form grande unico */
#container_one_text_form {
    width: 960px;
    margin: 0 auto;
}
/* coluna unica */
#container_one_text {
    width: 960px;
    margin: 0 auto;
}
/* coluna direita */
#container_right {
    margin-top: 30px;
}
/* formularios */
/* form coluna unica  */
#container_one_text fieldset {
    display: block;
    border: 1px solid #444;
    margin: 30px auto;
    padding-top: 0;
    width: 560px;
}
#container_one_text fieldset .legend {
    font-weight: bold;
    display: block;
    width: 541px;
    background-color: #CCC;
    height: 24px;
    line-height: 24px;
    margin-bottom: 15px;
    padding: 4px;
    padding-left: 15px;
}
#container_one_text label {
    display: block;
    height: 30px;
    padding: 0 15px;
}
#container_one_text label span {
    width: 140px;
    display: inline-block
}
#container_one_text label input {
    height: 18px;
    padding: 2px;
    width: 356px
}
/* botao formulario */
#container_one_text .botao {
    float: right;
    display: block;
    margin-bottom: 10px;
    margin-right: 25px;
}
/* tags container right */
#container_right fieldset {
    margin-bottom: 30px;
    display: block;
    border: 1px solid #444;
    padding-top: 0;
}
#container_right fieldset .legend {
    font-weight: bold;
    display: block;
    width: 279px;
    background-color: #CCC;
    height: 24px;
    line-height: 24px;
    margin-bottom: 15px;
    padding: 4px;
    padding-left: 15px;
}
#container_right label {
    display: block;
    height: 30px;
    padding: 0 15px;
}
#container_right label span {
    float: left
}
#container_right label input {
    height: 18px;
    padding: 2px;
    width: 165px;
    float: right
}
/* botao formulario */
#container_right .botao {
    float: right;
    display: block;
    margin-bottom: 10px;
    margin-right: 15px;
}
/* coluna direita */
#container_right {
    width: 300px;
    float: right
}
/* rodape */
#footer {
    margin-top: 20px;
    padding: 10px 0;
    border-top: 1px solid #444;
    text-align: center
}
/* outros */
/* paragrafo */
#container p {
    margin-bottom: 16px;
    line-height: 20px;
}
/* .question? */
#container .question {
    font-weight: bold;
    text-transform:  uppercase;
}
/* link no form */
#container .linkForm {
    display: inline-block;
    margin-top: 12px;
    margin-left: 15px
}
/* ajax modal, loading */
#loading {
    position:absolute;
    width:170px;
    height:30px;
    line-height: 30px;
    z-index:1;
    margin:0px auto;
    padding:0px;
    top:0;
    right:0;
    background:url(../img/background-modal.png);
    color:#FFF;
    text-align: center;
    border: 1px solid #444;
    font-weight: bold;
    display: none
}
/* links_moldura */
#links_moldura {
    display: inline-block;
    float: left;
    width: 750px;
    text-align: left;
    margin: auto;
}
#links_moldura a.linkGerenciar {
    width:200px;
    height:90px;
/*    padding: 5px; // No IE fica melhro sem essa padding */
    margin: 5px 20px;
}
/* share */
#share {
    padding-left: 20px;
    padding-bottom: 10px;
    vertical-align: top;
    text-align: center;
    margin: auto;
}
#share div {
    vertical-align: top;
    height: 26px;
    line-height: 26px;
    width: 125px;
    text-align: center;
    overflow: hidden;
    display: inline-block;
    margin-bottom: 10px;
}
/* alinhamento */
.alingLeft {
    text-align: left;
}
.alingCenter {
    text-align: center;
}
.alingRight {
    text-align: right;
}
.fAlignRight {
    float: right;
}
/* link usuario */
.linkUsuario {
    float: right;
    margin: 15px 20px 0 0;
}
/* pesquisa */
#container_right label input#pesquisa {
    width: 260px;
}
/* painel de controle */
#painel_links, #peladinha_painel_links{
    display: inline-block;
    width: 200px;
    margin-right: 10px;
    float: left;
}
/* lista de links de campeonatos */
.linksCampeonatos li a{
    background: url("../img/icons/bolinha_verde.png") no-repeat left center;
    color: #2C4B0F;
    font-size: 18px;
    line-height: 22px;
    display: block;
    font-family: "LeagueGothicRegular", Georgia, "Times New Roman", Times;
    letter-spacing: 0.04em;
    text-decoration: none;
    text-transform: uppercase;
    margin-bottom: 10px;
    border-top: 1px dotted #2C4B0F;
    border-bottom: 1px dotted #2C4B0F;
    padding: 5px 0 5px 18px;
}
.linksCampeonatos li a:hover, .linksCampeonatos li a:focus, .linksCampeonatos li a.selecionado {
    background-color: #EDF0DD;
}
/* admin */
/* form grande unico */
#adm_container_one_text_form {
    /*width: 750px;*/
    margin: 0 0 10px 10px;
}
/* coluna unica */
#adm_container_one_text {
    width: 750px;
    margin: 0 auto;
}
/* icones */
.icone {
    margin-left: 3px;padding: 5px 5px 5px 25px;
}
.novo {
    background: url("../img/icons/novo.png") no-repeat 5px 50%;
}
.editar {
    background: url("../img/icons/edit.png") no-repeat 5px 50%;
}
.excluir {
    background: url("../img/icons/delete.png") no-repeat 5px 50%;
}
.concluido {
    background: url("../img/icons/concluido.png") no-repeat 5px 50%;
}
.pendente {
    background: url("../img/icons/pendente.png") no-repeat 5px 50%;
}
.project {
    background: url("../img/icons/project.png") no-repeat 5px 50%;
}
.voltar {
    background: url("../img/icons/voltar.png") no-repeat 5px 50%;
}
.salvar {
    background: url("../img/icons/salvar.png") no-repeat 5px 50%;
}
.lista {
    background: url("../img/icons/lista.png") no-repeat 5px 50%;
}
.mail {
    background: url("../img/icons/mail.png") no-repeat 5px 50%;
}
.check {
    background: url("../img/icons/check.png") no-repeat 5px 50%;
}
.twitter {
    background: url("../img/icons/twitter.png") no-repeat 5px 50%;
}

/* botoes */
.inputBotao {
    border:solid 1px #666;
    margin-right:2px;
    text-decoration: none;
}
/* login */
.aviso {
    border: 1px solid #CB9E00;
    background-color: #FDFCDD;
    padding: 10px;
}
/* grid listagem */
.gridListagem {
    border: 1px solid #F0F0F0;
    margin: 10px 10px 20px 10px;
}
.gridListagem th {
    border-color: #F0F0F0;
    background-color: #EDF0DD;
    color: #2C4B0F;
    font-size: 18px;
    font-family: "LeagueGothicRegular", Georgia, "Times New Roman", Times;
    letter-spacing: 0.04em;
    text-decoration: none;
    text-transform: uppercase;
}
.gridListagem td {
    border-color: #F0F0F0;
    line-height: 30px;
    height: 30px;
    padding: 3px;
}
/* mensagem de erro */
#valMensagem {
	border:1px solid #FC3;
	background-color: #FFC;
	font-size:10px;
	padding:10px;
	margin:10px;
        margin-top: 30px;
}
#container_text_resultados #tblClassificacao,
#container_text_resultados #tblClassificacao td,
#container_text_resultados #tblClassificacao th{text-align: center}

/* 14/04/2012 */
#container_one_text .estiloJogadorPeladinha{
    padding: 10px;
    width: 520px !important;
    border-color: #EDF0DD;
}

#container_one_text .estiloJogadorPeladinha legend{
    padding: 0 10px;
    margin-bottom: 10px
}
#container_one_text .estiloJogadorPeladinha label{
    display: block;
    margin: 3px 0;
    text-align: left !important;
    vertical-align: top
}
#container_one_text .estiloJogadorPeladinha label input {
    width: 20px !important;
    text-align: left !important;
    vertical-align: top
}