<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <filter>
        <filter-name>FilterLogin</filter-name>
        <filter-class>br.una.sgco.filters.FilterLogin</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>FilterLogin</filter-name>
        <url-pattern>/admin/*</url-pattern>
        <dispatcher>REQUEST</dispatcher>
    </filter-mapping>
    <servlet>
        <servlet-name>ServletCadastroUsuario</servlet-name>
        <servlet-class>br.una.sgco.services.ServletCadastroUsuario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletLogin</servlet-name>
        <servlet-class>br.una.sgco.services.ServletLogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletListaCampeonatoUsuario</servlet-name>
        <servlet-class>br.una.sgco.services.ServletListaCampeonatoUsuario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletInsereCampeonato</servlet-name>
        <servlet-class>br.una.sgco.services.ServletInsereCampeonato</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletSelecionaCamp</servlet-name>
        <servlet-class>br.una.sgco.services.ServletSelecionaCamp</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletInsereEstadio</servlet-name>
        <servlet-class>br.una.sgco.services.ServletInsereEstadio</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletListaEstadio</servlet-name>
        <servlet-class>br.una.sgco.services.ServletListaEstadio</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletInsereArbitragem</servlet-name>
        <servlet-class>br.una.sgco.services.ServletInsereArbitragem</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletListaArbitragem</servlet-name>
        <servlet-class>br.una.sgco.services.ServletListaArbitragem</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletInsereTime</servlet-name>
        <servlet-class>br.una.sgco.services.ServletInsereTime</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletListaTime</servlet-name>
        <servlet-class>br.una.sgco.services.ServletListaTime</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletInsereJogador</servlet-name>
        <servlet-class>br.una.sgco.services.ServletInsereJogador</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletListaJogador</servlet-name>
        <servlet-class>br.una.sgco.services.ServletListaJogador</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletListaUmCampeonato</servlet-name>
        <servlet-class>br.una.sgco.services.ServletListaUmCampeonato</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletAlteraCampeonato</servlet-name>
        <servlet-class>br.una.sgco.services.ServletAlteraCampeonato</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletListaUmArbitro</servlet-name>
        <servlet-class>br.una.sgco.services.ServletListaUmArbitro</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletAlteraArbitro</servlet-name>
        <servlet-class>br.una.sgco.services.ServletAlteraArbitro</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletExcluiArbitro</servlet-name>
        <servlet-class>br.una.sgco.services.ServletExcluiArbitro</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletListaUmEstadio</servlet-name>
        <servlet-class>br.una.sgco.services.ServletListaUmEstadio</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletAlteraEstadio</servlet-name>
        <servlet-class>br.una.sgco.services.ServletAlteraEstadio</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletExcluiEstadio</servlet-name>
        <servlet-class>br.una.sgco.services.ServletExcluiEstadio</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletListaUmTime</servlet-name>
        <servlet-class>br.una.sgco.services.ServletListaUmTime</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletAlteraTime</servlet-name>
        <servlet-class>br.una.sgco.services.ServletAlteraTime</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletExcluiTime</servlet-name>
        <servlet-class>br.una.sgco.services.ServletExcluiTime</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletListaUmJogador</servlet-name>
        <servlet-class>br.una.sgco.services.ServletListaUmJogador</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletAlteraJogador</servlet-name>
        <servlet-class>br.una.sgco.services.ServletAlteraJogador</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletInativaJogador</servlet-name>
        <servlet-class>br.una.sgco.services.ServletInativaJogador</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletInsereJogo</servlet-name>
        <servlet-class>br.una.sgco.services.ServletInsereJogo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletListaJogo</servlet-name>
        <servlet-class>br.una.sgco.services.ServletListaJogo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletListaUmJogo</servlet-name>
        <servlet-class>br.una.sgco.services.ServletListaUmJogo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletAlteraJogo</servlet-name>
        <servlet-class>br.una.sgco.services.ServletAlteraJogo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletInsereCartao</servlet-name>
        <servlet-class>br.una.sgco.services.ServletInsereCartao</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletListaCartao</servlet-name>
        <servlet-class>br.una.sgco.services.ServletListaCartao</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletListaUmCartao</servlet-name>
        <servlet-class>br.una.sgco.services.ServletListaUmCartao</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletAlteraCartao</servlet-name>
        <servlet-class>br.una.sgco.services.ServletAlteraCartao</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletExcluiCartao</servlet-name>
        <servlet-class>br.una.sgco.services.ServletExcluiCartao</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletListaTimeJogo</servlet-name>
        <servlet-class>br.una.sgco.services.ServletListaTimeJogo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletListaJogadorTime</servlet-name>
        <servlet-class>br.una.sgco.services.ServletListaJogadorTime</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletInsereSubstituicao</servlet-name>
        <servlet-class>br.una.sgco.services.ServletInsereSubstituicao</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletListaSubstituicao</servlet-name>
        <servlet-class>br.una.sgco.services.ServletListaSubstituicao</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletExcluiSubstituicao</servlet-name>
        <servlet-class>br.una.sgco.services.ServletExcluiSubstituicao</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletInserePlacar</servlet-name>
        <servlet-class>br.una.sgco.services.ServletInserePlacar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletListaPlacar</servlet-name>
        <servlet-class>br.una.sgco.services.ServletListaPlacar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletExcluiPlacar</servlet-name>
        <servlet-class>br.una.sgco.services.ServletExcluiPlacar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletLogout</servlet-name>
        <servlet-class>br.una.sgco.services.ServletLogout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletListaCampeonato</servlet-name>
        <servlet-class>br.una.sgco.services.ServletListaCampeonato</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletExcluiJogo</servlet-name>
        <servlet-class>br.una.sgco.services.ServletExcluiJogo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletListaClassificacao</servlet-name>
        <servlet-class>br.una.sgco.services.ServletListaClassificacao</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletListaUltimosJogos</servlet-name>
        <servlet-class>br.una.sgco.services.ServletListaUltimosJogos</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletObtemArtilheiro</servlet-name>
        <servlet-class>br.una.sgco.services.ServletObtemArtilheiro</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletListaUltimosJogosCamp</servlet-name>
        <servlet-class>br.una.sgco.services.ServletListaUltimosJogosCamp</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletInsereJogador_1</servlet-name>
        <servlet-class>br.una.sgco.peladinha.services.ServletInserirJogador</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletInserePelada</servlet-name>
        <servlet-class>br.una.sgco.peladinha.services.ServletInserirPelada</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletInsereLocal</servlet-name>
        <servlet-class>br.una.sgco.peladinha.services.ServletInserirLocal</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletInsereConfirmacao</servlet-name>
        <servlet-class>br.una.sgco.peladinha.services.ServletInserirConfirmacao</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletListarLocal</servlet-name>
        <servlet-class>br.una.sgco.peladinha.services.ServletListarLocal</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletInserirLocal</servlet-name>
        <servlet-class>br.una.sgco.peladinha.services.ServletInserirLocal</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletEditarLocal</servlet-name>
        <servlet-class>br.una.sgco.peladinha.services.ServletEditarLocal</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletExcluirLocal</servlet-name>
        <servlet-class>br.una.sgco.peladinha.services.ServletExcluirLocal</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletListaUmLocal</servlet-name>
        <servlet-class>br.una.sgco.peladinha.services.ServletListaUmLocal</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServleListarUmLocal</servlet-name>
        <servlet-class>br.una.sgco.peladinha.services.ServletListarUmLocal</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletInserirPelada</servlet-name>
        <servlet-class>br.una.sgco.peladinha.services.ServletInserirPelada</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletListarPelada</servlet-name>
        <servlet-class>br.una.sgco.peladinha.services.ServletListarPelada</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletListarUmaPeladinha</servlet-name>
        <servlet-class>br.una.sgco.peladinha.services.ServletListarUmaPeladinha</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletEditarPelada</servlet-name>
        <servlet-class>br.una.sgco.peladinha.services.ServletEditarPelada</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletExcluirPelada</servlet-name>
        <servlet-class>br.una.sgco.peladinha.services.ServletExcluirPelada</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletListarJogador</servlet-name>
        <servlet-class>br.una.sgco.peladinha.services.ServletListarJogador</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletEditarJogador</servlet-name>
        <servlet-class>br.una.sgco.peladinha.services.ServletEditarJogador</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletExcluirJogador</servlet-name>
        <servlet-class>br.una.sgco.peladinha.services.ServletExcluirJogador</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletInserirJogador</servlet-name>
        <servlet-class>br.una.sgco.peladinha.services.ServletInserirJogador</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServletCadastroUsuario</servlet-name>
        <url-pattern>/ServletCadastroUsuario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletLogin</servlet-name>
        <url-pattern>/ServletLogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletListaCampeonatoUsuario</servlet-name>
        <url-pattern>/ServletListaCampeonatoUsuario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletInsereCampeonato</servlet-name>
        <url-pattern>/ServletInsereCampeonato</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletSelecionaCamp</servlet-name>
        <url-pattern>/ServletSelecionaCamp</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletInsereEstadio</servlet-name>
        <url-pattern>/ServletInsereEstadio</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletListaEstadio</servlet-name>
        <url-pattern>/ServletListaEstadio</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletInsereArbitragem</servlet-name>
        <url-pattern>/ServletInsereArbitragem</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletListaArbitragem</servlet-name>
        <url-pattern>/ServletListaArbitragem</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletInsereTime</servlet-name>
        <url-pattern>/ServletInsereTime</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletListaTime</servlet-name>
        <url-pattern>/ServletListaTime</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletInsereJogador</servlet-name>
        <url-pattern>/ServletInsereJogador</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletListaJogador</servlet-name>
        <url-pattern>/ServletListaJogador</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletListaUmCampeonato</servlet-name>
        <url-pattern>/ServletListaUmCampeonato</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletAlteraCampeonato</servlet-name>
        <url-pattern>/ServletAlteraCampeonato</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletListaUmArbitro</servlet-name>
        <url-pattern>/ServletListaUmArbitro</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletAlteraArbitro</servlet-name>
        <url-pattern>/ServletAlteraArbitro</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletExcluiArbitro</servlet-name>
        <url-pattern>/ServletExcluiArbitro</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletListaUmEstadio</servlet-name>
        <url-pattern>/ServletListaUmEstadio</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletAlteraEstadio</servlet-name>
        <url-pattern>/ServletAlteraEstadio</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletExcluiEstadio</servlet-name>
        <url-pattern>/ServletExcluiEstadio</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletListaUmTime</servlet-name>
        <url-pattern>/ServletListaUmTime</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletAlteraTime</servlet-name>
        <url-pattern>/ServletAlteraTime</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletExcluiTime</servlet-name>
        <url-pattern>/ServletExcluiTime</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletListaUmJogador</servlet-name>
        <url-pattern>/ServletListaUmJogador</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletAlteraJogador</servlet-name>
        <url-pattern>/ServletAlteraJogador</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletInativaJogador</servlet-name>
        <url-pattern>/ServletInativaJogador</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletInsereJogo</servlet-name>
        <url-pattern>/ServletInsereJogo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletListaJogo</servlet-name>
        <url-pattern>/ServletListaJogo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletListaUmJogo</servlet-name>
        <url-pattern>/ServletListaUmJogo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletAlteraJogo</servlet-name>
        <url-pattern>/ServletAlteraJogo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletInsereCartao</servlet-name>
        <url-pattern>/ServletInsereCartao</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletListaCartao</servlet-name>
        <url-pattern>/ServletListaCartao</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletListaUmCartao</servlet-name>
        <url-pattern>/ServletListaUmCartao</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletAlteraCartao</servlet-name>
        <url-pattern>/ServletAlteraCartao</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletExcluiCartao</servlet-name>
        <url-pattern>/ServletExcluiCartao</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletListaTimeJogo</servlet-name>
        <url-pattern>/ServletListaTimeJogo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletListaJogadorTime</servlet-name>
        <url-pattern>/ServletListaJogadorTime</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletInsereSubstituicao</servlet-name>
        <url-pattern>/ServletInsereSubstituicao</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletListaSubstituicao</servlet-name>
        <url-pattern>/ServletListaSubstituicao</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletExcluiSubstituicao</servlet-name>
        <url-pattern>/ServletExcluiSubstituicao</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletInserePlacar</servlet-name>
        <url-pattern>/ServletInserePlacar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletListaPlacar</servlet-name>
        <url-pattern>/ServletListaPlacar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletExcluiPlacar</servlet-name>
        <url-pattern>/ServletExcluiPlacar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletLogout</servlet-name>
        <url-pattern>/ServletLogout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletListaCampeonato</servlet-name>
        <url-pattern>/ServletListaCampeonato</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletExcluiJogo</servlet-name>
        <url-pattern>/ServletExcluiJogo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletListaClassificacao</servlet-name>
        <url-pattern>/ServletListaClassificacao</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletListaUltimosJogos</servlet-name>
        <url-pattern>/ServletListaUltimosJogos</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletObtemArtilheiro</servlet-name>
        <url-pattern>/ServletObtemArtilheiro</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletListaUltimosJogosCamp</servlet-name>
        <url-pattern>/ServletListaUltimosJogosCamp</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletInsereJogador_1</servlet-name>
        <url-pattern>/ServletInsereJogador_1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletInserePelada</servlet-name>
        <url-pattern>/ServletInserePelada</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletInsereLocal</servlet-name>
        <url-pattern>/ServletInsereLocal</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletInsereConfirmacao</servlet-name>
        <url-pattern>/ServletInsereConfirmacao</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletListarLocal</servlet-name>
        <url-pattern>/ServletListarLocal</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletInserirLocal</servlet-name>
        <url-pattern>/ServletInserirLocal</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletEditarLocal</servlet-name>
        <url-pattern>/ServletEditarLocal</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletExcluirLocal</servlet-name>
        <url-pattern>/ServletExcluirLocal</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletListaUmLocal</servlet-name>
        <url-pattern>/ServletListaUmLocal</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServleListarUmLocal</servlet-name>
        <url-pattern>/ServleListarUmLocal</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletInserirPelada</servlet-name>
        <url-pattern>/ServletInserirPelada</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletListarPelada</servlet-name>
        <url-pattern>/ServletListarPelada</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletListarUmaPeladinha</servlet-name>
        <url-pattern>/ServletListarUmaPeladinha</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletEditarPelada</servlet-name>
        <url-pattern>/ServletEditarPelada</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletExcluirPelada</servlet-name>
        <url-pattern>/ServletExcluirPelada</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletListarJogador</servlet-name>
        <url-pattern>/ServletListarJogador</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletEditarJogador</servlet-name>
        <url-pattern>/ServletEditarJogador</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletExcluirJogador</servlet-name>
        <url-pattern>/ServletExcluirJogador</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletInserirJogador</servlet-name>
        <url-pattern>/ServletInserirJogador</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
</web-app>
